[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "third_party/sentencepiece"]
	path = third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third_party/espeak-ng"]
	path = third_party/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
